<!DOCTYPE html>
<html>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calc/style.css' %}" media="screen" />
    <div class = "navBar">
        <li><a href="{% url 'updatePage'%}">Suggestions</a></li>
        <li><a href="{% url 'home'%}">Preferences</a></li>
        <li><a href="{% url 'profile'%}">Profile</a></li>
        <li><a href="{% url 'login'%}">Login</a></li>
        <input type="text" placeholder="Search..">
    </div>
    <br><br><br>
    <h1>Login</h1>
    <div class = "login_fields">
        <form action="login_action"> <!-- server page that processes input data -->
            Username:<br>
            <input type="text" name="username" value=""><br>
            <br>
            Password:<br>
            <input type="text" name="password" value=""><br>
            <br>
            <input type="submit" class="Login" value="Login" />
        </form>
    </div>




    <br>
    <div class = "create_profile_field">
        <!-- Delete profile button -->
        Dont have a profile?
        <form action="create"> <!-- server page that processes input data -->
            <input type="submit" class="Create User" value="Create User" />
        </form>
    </div>

</body>
</html>
