<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <div class = "navBar">
        <li><a href="{% url 'updatePage'%}">Update Profile</a></li>
        <li><a href="{% url 'home'%}">Preferences</a></li>
        <li><a href="{% url 'profile'%}">Delete Profile</a></li>
        <li><a href="{% url 'login'%}">Login</a></li>
        <li><a href="{% url 'create'%}">Create Profile</a></li>
        <input type="text" placeholder="Search..">
    </div>
    <br><br><br>

    <div class = "login_fields">
        <form action="/create_profile.html"> <!-- server page that processes input data -->
            Username:<br>
            <input type="text" name="username" value=""><br>
            <br>
            Password:<br>
            <input type="text" name="password" value=""><br>
            <br>
        </form>
    </div>

    <div class = "login_button_wrap">
        <input type="submit">
    </div>

</body>
</html>
