<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<div class = "navBar">
    <li><a href="{% url 'updatePage'%}">Suggestions</a></li>
    <li><a href="{% url 'home'%}">Preferences</a></li>
    <li><a href="{% url 'profile'%}">Profile</a></li>
    <li><a href="{% url 'login'%}">Login</a></li>
    <input type="text" placeholder="Search..">
</div>
<br><br><br>
<h1>Profile</h1>
<ul>
    {%  for post in all_post %}
    <div class = "profile_results">
      {{post}}
    </div>
    {% endfor %}
</ul>
<div class = "logout_button">
    <!-- Delete profile button -->
    <input type="submit" class="logout" value="Logout" />
</div>
<div class = "delete_profile_field">
    <!-- Delete profile button -->
    <input type="submit" class="Delete Profile" value="Delete Profile" />
</div>
</body>
</html>
