<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <div class = "navBar">
        <li><a href="{% url 'updatePage'%}">Update Profile</a></li>
        <li><a href="{% url 'home'%}">Preferences</a></li>
        <li><a href="{% url 'profile'%}">Delete Profile</a></li>
        <li><a href="{% url 'login'%}">Login</a></li>
        <li><a href="{% url 'create'%}">Create Profile</a></li>
        <input type="text" placeholder="Search..">
    </div>
    <br><br><br>
    <h1>Update Information</h1>
    <div class = "create_profile">
        <form action="/create_profile.html"> <!-- server page that processes input data -->
            First name:<br>
            <input type="text" name="firstname" value=""><br>
            <br>
            Age:<br>
            <input type="text" name="age" value=""><br>
            <br>
        </form>
    </div>

    <div class = "ethnicity">
        <p>Select the boxes that match your ethnic preference:</p>
        <input type="checkbox" name="East Asian" value="East Asian">East Asian<br>
        <input type="checkbox" name="American Indian" value="American Indian">American Indian<br>
        <input type="checkbox" name="Black/African Descent" value="Black/African Descent">Black/African Descent<br>
        <input type="checkbox" name="Hispanic/Latino" value="Hispanic/Latino">Hispanic/Latino<br>
        <input type="checkbox" name="Middle Eastern" value="Middle Eastern">Middle Eastern<br>
        <input type="checkbox" name="Pacific Islander" value="Pacific Islander">Pacific Islander<br>
        <input type="checkbox" name="South Asian" value="South Asian">South Asian<br>
        <input type="checkbox" name="White/Caucasian" value="White/Caucasian">White/Caucasian<br>
        <input type="checkbox" name="Other" value="Other">Other<br>
        <input type="checkbox" name="Open to all" value="Open to all">Open to all<br>
    </div>

    <div class = "update_button">
        <br><br>
        <button class="update_btn">update</button>
        <br><br>
    </div>

</body>
</html>
